[*]
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = false
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 140

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = true
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# ReSharper properties
resharper_align_linq_query = true
resharper_align_multiline_argument = true
resharper_align_multiline_binary_patterns = true
resharper_align_multiline_calls_chain = true
resharper_align_multiline_extends_list = true
resharper_align_multiline_for_stmt = true
resharper_align_multiline_parameter = true
resharper_align_multiline_statement_conditions = false
resharper_align_multiple_declaration = true
resharper_align_multline_type_parameter_constrains = true
resharper_align_multline_type_parameter_list = true
resharper_align_tuple_components = true
resharper_blank_lines_after_control_transfer_statements = 1
resharper_blank_lines_after_start_comment = 0
resharper_blank_lines_around_single_line_auto_property = 1
resharper_blank_lines_around_single_line_property = 1
resharper_blank_lines_before_block_statements = 1
resharper_blank_lines_before_control_transfer_statements = 1
resharper_csharp_blank_lines_around_single_line_invocable = 1
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_stick_comment = false
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_multiple_declaration_style = chop_always
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_indent_preprocessor_region = no_indent
resharper_keep_existing_declaration_parens_arrangement = false
resharper_keep_existing_embedded_arrangement = false
resharper_keep_existing_expr_member_arrangement = false
resharper_keep_existing_invocation_parens_arrangement = false
resharper_keep_existing_list_patterns_arrangement = false
resharper_keep_existing_property_patterns_arrangement = false
resharper_keep_existing_switch_expression_arrangement = false
resharper_max_array_initializer_elements_on_line = 3
resharper_max_enum_members_on_line = 1
resharper_max_formal_parameters_on_line = 3
resharper_max_initializer_elements_on_line = 3
resharper_max_invocation_arguments_on_line = 3
resharper_nested_ternary_style = expanded
resharper_object_creation_when_type_evident = explicitly_typed
resharper_outdent_statement_labels = true
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_accessor_attribute_on_same_line = true
resharper_place_constructor_initializer_on_same_line = false
resharper_place_record_field_attribute_on_same_line = true
resharper_place_simple_embedded_statement_on_same_line = false
resharper_space_around_arrow_op = true
resharper_space_before_new_parentheses = true
resharper_space_within_single_line_array_initializer_braces = true
resharper_wrap_array_initializer_style = chop_if_long
resharper_wrap_before_eq = true
resharper_wrap_before_linq_expression = true
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_chained_binary_patterns = chop_if_long
resharper_wrap_chained_method_calls = chop_if_long
resharper_wrap_lines = true
resharper_wrap_list_pattern = chop_if_long
resharper_xmldoc_indent_size = 2
resharper_xmldoc_tab_width = 2

# ReSharper inspection severities
resharper_arrange_attributes_highlighting = suggestion
resharper_arrange_default_value_when_type_not_evident_highlighting = suggestion
resharper_arrange_null_checking_pattern_highlighting = suggestion
resharper_arrange_object_creation_when_type_not_evident_highlighting = suggestion
resharper_arrange_trailing_comma_in_multiline_lists_highlighting = suggestion
resharper_arrange_trailing_comma_in_singleline_lists_highlighting = suggestion
resharper_suggest_discard_declaration_var_style_highlighting = suggestion

[{*.xml,*.csproj,*.sln,*.cshtml,*.config,*.xaml,*.resx,*.nuspec,*.targets,*.props,*.ps1}]
indent_size = 2

[*.json]
indent_size = 2
